.App {
  color: white;
  text-align: center;
}

.start-img {
  margin-top: 10px;
  height: 40px;
  width: 40px;
}

.start-header {
  background-color: rgba(0, 155, 98, 0.827);
  display: flex;
  gap: 10px;
  padding: 20px;
  padding-left: 145px;
  height: 182px;
  position: relative; /* Added */
}

.start-heading {
  font-size: small;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.start-body {
  display: flex;
}

.start-card {
  height: 50%;
  width: 50%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute; /* Added */
  top: 50%; /* Added */
  left: 50%; /* Added */
  transform: translate(-50%, -50%); /* Added */
}
